body 
{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#root {
  max-width: 750px;
  height: 100vh;
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(250, 174, 60);
 
}
.box-main-state { 
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(247, 143, 7);
}
.box-main-state > span {
  font-size: 20px;
  flex: 0 1 40%;
}
.box-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:   rgb(247, 143, 7);
  margin-top: 10px;
}
.btn-edit {
  margin-left: 20%;
}
.shopping-list-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
button {
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(231, 235, 221);
}

button:hover {
  background-color: rgb(240, 107, 12);
  transition: all 0.5s ease;
}
input[type="text"] {
   border: 1px solid #cccccc;
   border-radius: 3px; 
   background: #ffffff !important; 
   height: 24px;
   width: 120px;
   color: #161616; 
   font-size: 18px; 
   margin-right: 5px;
}
input[type="text"]:focus {
   outline: none;
}
.save-btn {
  margin-left: 25%;
}
